
@font-face {
    font-family: 'KNPSKkomi-Regular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 30px;;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


*{margin: 0; padding: 0;}
a{text-decoration: none; display: block; color: #004831;}
ul{list-style: none;}
body{font-family: 'KNPSKkomi-Regular00', sans-serif;}
.center{width:1200px; margin:0 auto;}
.recolor{display: inline-block;
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(129deg,#ffc170,#ec787f,#8980ed);}


/*header*/
#header{height:120px; border-bottom:1px solid #000;}
    #header>.center{display: flex; align-items: flex-end; height:120px; position: relative;}
    #logo{ width:240px; height:100%; display:flex; justify-content: center; align-items: center;}
    #logo img {max-width: 70px;}
    .mainTxt{font-size: 33px; color: #facd89; line-height:60px; text-indent: 30px;}

#gnb .center{position:relative;}
    #gnb ul{position:absolute; right:0; top:0; padding-top:30px; z-index:100;}
        #gnb ul li{width:110px; height:45px; text-align: center; position:relative;margin-bottom:5px;}
            #gnb ul li::after{content: ''; width:100%; height:100%; border:1px solid #000; position:absolute; left:0; top:0; border-left:0; box-sizing: border-box; z-index: -1;}
            #gnb ul li.on::after{background:#facd89;}
            #gnb ul li:hover::after{background:#000;}
            #gnb ul li:hover a{color:#fff;}
        #gnb ul li a{padding:0 10px; display:block; padding-top:10px; font-size:25px;}
        
    /*audio*/
    #bgmBox{display:flex; align-items: center; background:#facd89; position:absolute; right:0; top:0; padding-right:10px;}
    #bgmBox>div:not(.animated-title){padding-top:4px; height:30px;box-sizing: border-box;}
    /* 움직이는 텍스트 */
    .animated-title {font-size:13px; font-family:'Raleway',Sans-serif; font-weight:300; position: relative; width: 175px; height: 30px; line-height: 30px; overflow-x: hidden; overflow-y: hidden; }
    .animated-title .track {position: absolute; white-space: nowrap; }
    .animated-title .track.on{will-change: transform;animation: marquee 60s linear infinite;}
    @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
    }


/*index*/
#main{margin:30px 0;}
#main .center{display:table; position:relative;}
    #main .center::after{content: ''; width:100px; height:180px; position:absolute; bottom:150px; right:10px; background: url(../img/bannerImg.png) 50% bottom no-repeat; background-size: cover;}

    #main .aboutBox{float:left; width:240px; height:700px; border-radius: 0 30px 30px 0; border:1px solid #000; box-sizing: border-box; padding:15px;}
        .aboutBox .profile{width:100%; height:270px; border-radius: 30px; background:#facd89}
        .aboutBox h3{font-size:28px; line-height:60px; margin-top:20px;}
        .aboutBox p{margin-bottom:20px;}
        .aboutBox li{font-size:17px; display:flex; flex-flow:column; position:relative; padding-left:10px; word-break: keep-all; margin-bottom:10px;}
        .aboutBox li:hover{text-decoration: underline red;}
        .aboutBox li:last-child:hover{text-decoration-style: wavy;}
        .aboutBox li::before{content: ''; width:5px; height:5px; border-radius: 50%; background:#facd89; position:absolute; left:0; top:7px;}

        .contact{width:100px; height:30px; line-height:30px; text-align: center; background-image: linear-gradient(129deg,#ffc170,#ec787f,#8980ed); border-radius: 10px;}
        .contact a{display:block; line-height:30px; padding-top:4px;color:#fff; }


#main .itemBox{float:right; width:830px; height:700px; overflow-y:scroll; overflow-x: hidden; border:1px solid #000;  box-sizing: border-box; margin-right:110px; padding:15px;}
    .itemBox .slide{width:800px; height:440px;}

    #project{width:100%; height:1200px; margin-top:15px; background:red}
